apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yml
  - rbac.yml

  - prometheus/servicemonitors/prod-services-monitor.yml
  - prometheus/servicemonitors/nginx-gateway-monitor.yml

  - prometheus/exporters/postgres-exporter.yml
  - prometheus/exporters/kube-events-exporter.yml

  - alertmanager/alertmanager.yml
  - alertmanager/alertmanager-config.yml

configMapGenerator:
  - name: grafana-dashboards
    namespace: grafana
    files:
      - grafana/dashboards/python-app.json
      - grafana/dashboards/postgres.json
      - grafana/dashboards/gateway.json
      - grafana/dashboards/events.json
    options:
      labels:
        grafana_dashboard: "1"

