apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-exporter
  namespace: prod
  labels:
    app: postgres-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-exporter
  template:
    metadata:
      labels:
        app: postgres-exporter
        metrics: enabled
    spec:
      containers:
        - name: postgres-exporter
          image: quay.io/prometheuscommunity/postgres-exporter:v0.15.0
          ports:
            - name: metrics
              containerPort: 9187
          env:
            - name: DATA_SOURCE_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: datasource
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-exporter
  namespace: prod
  labels:
    metrics: enabled
spec:
  selector:
    app: postgres-exporter
  ports:
    - name: metrics
      port: 9187
      targetPort: 9187

