apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prod-services-monitor
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - prod
  selector:
    matchLabels:
      metrics: enabled
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      honorLabels: true

