apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  template:
    spec:
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: db-pvc
      containers:
        - name: postgres
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data/pgdata

