apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stage

resources:
  - ../../base
  - netpol-stage.yml
  - pvc/storage-class.yml
  - pvc/pvc.yml

configMapGenerator:
  - name: backend-config
    envs:
      - config/backend.env
  - name: frontend-config
    envs:
      - config/frontend.env

secretGenerator:
  - name: db-secret
    envs:
      - secrets/db.env
    type: Opaque

patches:
  # Database patch only
  - path: database-stage.yml

generatorOptions:
  disableNameSuffixHash: true

