apiVersion: v1
kind: Secret
metadata:
  name: db-env
  namespace: prod
  labels:
    app: postgres
type: Opaque
stringData:
  DATABASE_URL: "postgresql://admin:yourpassword@postgres:5432/mydatabase?sslmode=disable"
